<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!--  Parameters for database connection -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/Species</property>
        <property name="hibernate.connection.username">emilie</property>
        <property name="hibernate.connection.password">emiliePassword</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.globally_quoted_identifiers">true</property>


        <!-- Behavior for the conservation of tables -->
        <property name="hbm2ddl.auto">update</property>

        <!-- Mapping files -->
        <mapping class = "entity.BiologyClass"/>
        <mapping class = "entity.ConservationStatus"/>
        <mapping class = "entity.Country"/>
        <mapping class = "entity.Family"/>
        <mapping class = "entity.Habitat"/>
        <mapping class = "entity.Measure"/>
        <mapping class = "entity.Order"/>
        <mapping class = "entity.Species"/>
        <mapping class = "entity.Threat"/>

    </session-factory>

</hibernate-configuration>